html{
    scroll-behavior: smooth;
}

/* EMAIL------------------------------------- */

.email{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px 0px;
    background-color:rgb(21, 134, 240);
}

.email-text p{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    color:#999;
    text-align: center;
}

.email-text h3{
    color: #fff;
}

.email-input{
    margin: 70px 0px;
    outline: 40px solid rgb(130, 221, 228);
    background-color: rgb(130, 221, 228);
}

.email-input input{
    width: 600px;
    outline: 30px solid rgb(130, 221, 228);
    padding: 5px 35px;
    border-radius: 5px;
    border: none;
    background-image: url('./images/search.svg') ;
    background-repeat: no-repeat;
    background-position: 5px 5px;
}

.email-input button{
    padding: 5px 15px;
    margin-left: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(21, 134, 240);
    color: #fff;
}

.email-input button:hover{
    background-color:rgb(17, 90, 158);  
}

.email-input button:active{
    transform: scale(0.95);
}


/* COLLECT---------------------------------------- */

.collect{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 80px 0px;
}

.collect-text{
    text-align: center;
}

.collect-text img{
    width: 1000px;
    height: 500px;
    margin-top: 90px;
}

.collect-text p{
    font-size: 15px;
    color: #999;
    letter-spacing: 1px;
}

.collect-text h3{
    letter-spacing: 1px;
    text-align: center;
}


/* TITLE-WRITE-------------------------------------- */

.title-write{
    text-align: center;
    background: rgb(236, 235, 235);
    padding: 100px 0px;
    color: #777;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
}

.title-write .scroll{
    display: flex;
    justify-content: end;
}

.title-write .scroll img{
    width: 40px;
    height: 40px;
    margin-right: 50px;
}

/* FOOTER--------------------------------------------- */

.footer{
    display: flex;
    justify-content: center;
    background-color: rgb(69, 65, 71);
}

.footer1, .footer2, .footer3{
    width: 400px;
    color: #999;
    margin-top: 30px;
    padding: 0px 40px;
}

.footer1 a, .footer2 a, .footer3 a{
    color: #fff;
}

.footer3{
    margin-top: 60px;
}

.footer3 p a{
    display: flex;
    flex-direction: column;
    padding: 2px 0px;
    font-weight: 200;
}
